#round {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-shadow: 0 0 8px #f00;

}

#leave-btn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #200;
    color: red;
    text-shadow: 0 0 8px #f00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 8px #f00;
}